<a id="github-link"
    class="icon" title="Github" aria-label="Github"
    href="https://github.com/{{ site.github_username }}">
  {% include svg/github.svg %}
</a>

<a id="linkedin-link"
    class="icon" title="LinkedIn" aria-label="LinkedIn"
    href="https://linkedin.com/in/{{ site.linkedin_username }}">
  {% include svg/linkedin.svg %}
</a>

<a id="youtube-link"
    class="icon" title="Youtube" aria-label="Youtube"
    href="https://www.youtube.com/channel/UCMtqVykGztIYmj7OpFf7oeQ?view_as=subscriber{{ site.youtube }}">
  {% include svg/youtube.svg %}
</a>

<a id="email-link"
  class="icon" title="Email" aria-label="Email"
  href="mailto:{{ site.email }}">
  {% include svg/email.svg %}
</a>

<a id="twitter-link"
  class="icon" title="Twitter" aria-label="Twitter"
  href="https://twitter.com/hey_leasha/{{ site.twitter }}">
  {% include svg/twitter.svg %}
</a>